# Lecture 22: Visualization exercise, continued

## Announcements

- [Advanced Computing for Policy](https://github.com/advanced-computing/course-materials/blob/main/README.md)
- [Coffee Chat](https://cglink.me/2e9/r1929312)

## [Schedule](https://computing-in-context.afeld.me/#schedule) updates

- Thanksgiving
- Guest speaker

## [In-class exercise from last time](https://computing-in-context.afeld.me/lecture_21.html#in-class-exercise)

### Pivoting

Pandas supports [reshaping](https://pandas.pydata.org/pandas-docs/stable/user_guide/reshaping.html) DataFrames through [pivoting](https://pandas.pydata.org/pandas-docs/stable/user_guide/reshaping.html#pivot), [like spreadsheets do](https://support.google.com/docs/answer/1272900).

<video controls width="700" src="https://github.com/afeld/python-public-policy/raw/main/extras/img/pivot.mp4"></video>

## In-class exercise part two

Plot against [World Happiness Report data](https://www.worldhappiness.report/data-sharing/) for a specific country.

### [Two Y axes](https://plotly.com/python/multiple-axes/#Two-Y-Axes)

The `plotly.graph_objects` syntax is a bit different than the `plotly.express` syntax we've been using. With `go.Scatter()`, you don't provide the DataFrame and the names of the columns; you pass `x` and `y` as lists/Series of the values themselves.

In [13]:
import pandas as pd

In [14]:
import plotly.io as pio

In [15]:
happy_df = pd.read_excel("WHR25_Data_Figure_2.1v3.xlsx")
happy_df.head()

,Year,Rank,Country name,Life evaluation (3-year average),Lower whisker,Upper whisker,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,2024,147,Afghanistan,1.364,1.301,1.427,0.649,0.0,0.155,0.0,0.075,0.135,0.348
1,2023,143,Afghanistan,1.721,1.667,1.775,0.628,0.0,0.242,0.0,0.091,0.088,0.672
2,2022,137,Afghanistan,1.859,1.795,1.923,0.645,0.0,0.087,0.0,0.093,0.059,0.976
3,2021,146,Afghanistan,2.404,2.339,2.469,0.758,0.0,0.289,0.0,0.089,0.005,1.263
4,2020,150,Afghanistan,2.523,2.449,2.596,0.370,0.0,0.126,0.0,0.122,0.010,1.895

In [16]:
happy_bolivia_df = happy_df[happy_df["Country name"] == "Bolivia"]
happy_bolivia_df

,Year,Rank,Country name,Life evaluation (3-year average),Lower whisker,Upper whisker,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
181,2024,74,Bolivia,5.8680,5.758000,5.977000,1.173000,1.356000,0.346000,0.817000,0.067000,0.052000,2.057000
182,2023,73,Bolivia,5.7840,5.674000,5.895000,1.217000,1.179000,0.488000,0.719000,0.100000,0.061000,2.020000
183,2022,69,Bolivia,5.6840,5.572000,5.797000,1.240000,1.187000,0.329000,0.648000,0.103000,0.060000,2.118000
184,2021,71,Bolivia,5.6000,5.491000,5.709000,1.256000,0.880000,0.555000,0.627000,0.112000,0.064000,2.107000
185,2020,70,Bolivia,5.7160,5.613000,5.819000,0.842000,0.782000,0.486000,0.600000,0.138000,0.064000,2.805000
186,2019,65,Bolivia,5.7475,5.648235,5.846765,0.730976,1.142351,0.662446,0.574464,0.138375,0.072943,2.425929
187,2018,61,Bolivia,5.7790,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
188,2017,62,Bolivia,5.7520,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
189,2016,58,Bolivia,5.8230,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
190,2015,59,Bolivia,5.8220,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191,2014,51,Bolivia,5.8900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192,2012,50,Bolivia,5.8570,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193,2011,57,Bolivia,5.6330,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [18]:
electricity = pd.read_csv("Electricity Generation.csv", header=2)

In [19]:
# Create figure with secondary y-axis
fig = make_subplots(specs=[[{"secondary_y": True}]])

In [ ]:
#Create Madagascar data frame 




# Add traces
fig.add_trace(
    go.Scatter(
        x=madagascar_electricity["Year"],
        y=madagascar_electricity["Access to electricity (% of population)"],
        name="Access to electricity",
    ),
    secondary_y=False,
)